.tweet-container div2 img {
  margin-left: 90%;
  opacity:0%;
}

.tweet-container article {
  border: 2px solid red;
  text-align: left;
  margin: 10px;

}

.tweet-container article:hover {
  box-shadow: 5px 10px lightgrey;
  text-shadow: 1px 1px;
  opacity: 100%;

}

.tweet-container article footer {
  border-top: 2px solid black;
  text-align: left;
  font-size: small;

}

.tweet-container article header {

  margin: 5px;
}

.tweet-container article header span{
  color: red;
  margin-left: 70%;
  opacity:50%;
  
}
.tweet-container img {
  max-width:3%;
    height:auto;
}

.tweet-container header h4 {
  font-family: 'Source Sans Pro';
  color:black;

}
.tweet-container {
  padding: 30px;
}
