functionality {
  width: 75vw;
  height: 100%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

functionality compose textarea {
  width: 60vw;
  border: none;
}

functionality compose input {
  background-color: blue;
  color: white;
  font-family: bungee;
}

functionality compose .counter {
  position:relative !important;
  margin-left: 70%;
}