.profilePic {
  background-color: orange;
  height:350px;
}

.profileImage {
  /* position: absolute; */
  background-color: orange; 
  /* TRANSPARENT?? */
  max-height: 200px;
  
}

.profileName {

  text-align: center;
}

.profileImage img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  
}