  .logo {
    height: 60px;
    width: 100%;
    z-index: 10;
    background-color: #4056A1;
    color: #ffffff;
    
  }

  .logo-text {
    margin: 1.5em;
    text-align: left;
    
  }

  #random {
    margin-left: 70%;
    margin-top: 20%;
    text-align: right;
  }